@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Montserrat", sans-serif;
  --color-gold: #C5A059;
  --color-luxury-bg: #111010;
  --color-luxury-cream: #EBE6DD;
  --color-luxury-brown: #1F1A17;
  --color-luxury-text-dark: #222222;
  --color-luxury-text-light: #F8F8F8;
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
  }
  .text-shadow-md {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.9);
  }
}
